@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f6f9;
  --foreground: #1f2937;
}

body {
  @apply bg-page-bg text-text-primary;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
